@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.ibmPlex-text {
  font-family: var(--font-ibm-plex-sans), sans-serif;
  letter-spacing: 0;
}

.inter-text {
  font-family: var(--font-inter), sans-serif;
  letter-spacing: 0;
}

.praise-text {
  font-family: var(--font-praise), sans-serif;
  letter-spacing: 0;
}

.text-career-gradient {
  display: inline-block;
  background: linear-gradient(180deg, #04192d 0%, #2766a1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scroll-invisible {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-invisible::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-invisible {
  scrollbar-width: none;
  /* Firefox */
}


@layer utilities {

  .clip-outer-left {
    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  }

  .clip-inner-left {
    clip-path: polygon(0 12%, 100% 20%, 100% 80%, 0 88%);
  }

  .clip-inner-right {
    clip-path: polygon(0 20%, 100% 12%, 100% 88%, 0 80%);
  }

  .clip-outer-right {
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.perspective-container {
  /* This creates the slanted 'row' effect */
  transform: perspective(2000px) rotateX(2deg) rotateY(-5deg) rotateZ(1deg);
  transform-style: preserve-3d;
}

.testimonial-card {
  transform: skewY(-2deg);
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: skewY(0deg) scale(1.05);
  z-index: 10;
}
