@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family:var(--font-inter), Arial, Helvetica, sans-serif;
}

.ibmPlex-text {
  font-family: var(--font-ibm-plex-sans), sans-serif;
  letter-spacing: 0;
}

.inter-text {
  font-family: var(--font-inter), sans-serif;
  letter-spacing: 0;
}

.praise-text {
   font-family: var(--font-praise), sans-serif;
  letter-spacing: 0;
}

.text-career-gradient {
  display: inline-block;
  background: linear-gradient(180deg, #04192D 0%, #2766A1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.scroll-invisible {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-invisible::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-invisible {
  scrollbar-width: none; /* Firefox */
}



